[Unit]
Description=Skeleton Debian node first boot
After=network-online.target cloud-final.service
Wants=network-online.target cloud-final.service
ConditionPathExists=!/var/lib/skeleton/node-bootstrap/status.json

[Service]
Type=oneshot
ExecStart=/opt/skeleton-image/proxmox-firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
